:root {
  --p-color: #fff;
  --oran-color: orange;
  --var-color: #57b8ff;
  --black-color: black;
  --home-texts-p: #999;
  --rgba-3color: rgba(223, 223, 223, 0.8);
}
#pages {
  background-color: var(--black-color);
}
.pages-btn {
  display: flex;
  align-items: center;
}
.fire-pages {
  padding-top: 85px;
}
.pages-img {
  max-width: 643px;
}
.pages-img img {
  width: 100%;
}
.pages-img h5 {
  color: var(--var-color);
  font-family: Orbitron;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-top: 54px;
  margin-bottom: 28px;
}
.pages-img h6 {
  color: #fff;
  font-family: Orbitron;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
}
.pages-box {
  width: 312px;
}
.pages-box {
  width: 100%;
}
.pages-btn h3 {
  color: var(--p-color);
  font-family: Orbitron;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
}
.pages-btn {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.pages-box h3 {
  color: var(--var-color);
  font-family: Orbitron;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding-top: 30px;
  padding-bottom: 20px;
}
.pages-box h2 {
  width: 312px;
  color: var(--p-color);
  font-family: Orbitron;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
}
.pages-container {
  display: flex;
  gap: 24px;
  margin-top: 63px;
  padding-bottom: 87px;
}
.pages-boxes {
  width: 648px;
  gap: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.pages-box {
  width: 312px;
}
