:root {
  --p-color: #fff;
  --oran-color: orange;
  --var-color: #57b8ff;
  --black-color: black;
  --home-texts-p: #999;
  --rgba-3color: rgba(223, 223, 223, 0.8);
}
#shop {
  background-color: black;
}
.shop-texts * {
  color: var(--p-color);
}
.shop-texts p {
  color: var(--rgba-3color);
  font-family: Orbitron;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 54px;
}
.fire h6 {
  color: rgb(73, 73, 234);
  padding-bottom: 2px;
}
.shop-texts h5 {
  color: var(--p-color);
  font-family: Orbitron;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 38px;
}
.shop-texts {
    max-width: 732px;
     padding-top: 85px;
}
.shop-container {
    display: flex;
    gap: 95px;
    align-items: center;
    padding-bottom: 85px;
}
.headphone {
   position: relative;
}
.stopplay {
    position: relative;
    top: -350px;
    right: -180px;
}

.shop-img {
    max-width: 492px;
}
.headphone {
    width: 100%;
}
